@model LabManager_MVC_EF.Models.Computer

@{
    ViewData["Title"] = $"Computador { Model.Id }";
}

<h1>@ViewData["Title"]</h1>

<p>
    <b>Id: </b> @Model.Id
</p>

<p>
    <b>Ram: </b> @Model.Ram
</p>

<p>
    <b>Processor: </b> @Model.Processor
</p>

<a class="btn btn-danger btn-sm" asp-controller="Computer" asp-action="Delete" asp-route-id="@Model.Id">Apagar</a>
<a class="btn btn-primary btn-sm" asp-controller="Computer" asp-action="UpdateForm" asp-route-id="@Model.Id"
>Atualizar computador</a>
